.sidebar {
    flex: 0.25;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid lightgray;
}

.sidebar_option:hover {
    cursor: pointer;
    background-color: aliceblue;
    transition: 0.3s ease-in;
}

.sidebar h2 {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.sidebar_option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1.5rem;
    font-weight: 500;
}

.sidebar_icon {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}